$main_color: #78595f;
$dark_accent_color: #78595f;
//$dark_accent_color in rgb = 120	89	95
$light_accent_color: #907160;
$lighter_accent_color: #b68f7a;
$light_color: #f2f0ed;
$dark_color: #303646;

// Utility
$danger_color: #f44336;
$warning_color: #de8c1d;
$success_color: #609c55;
//
$primary_color: #907160;
$secondary_color: #879a9d;